form {
  display:flex;
  flex-direction: column;
  width: 100%;
}

.form-container {
  width: 490px;
}

.label-container {
  margin-top: .5em;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

label {
  width: 40%;
  font-size: 1.5rem;
  color: var(--clr-primary-500)
}

input {
  width: 100%;
  font-size: 1.5rem;
  padding: 5px;
}

.button-container {
  margin: .5em;
  padding: .5em;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  font-size: 1.3rem;
}

.error {
  color: red;
  font-style: italic;
}

::-webkit-input-placeholder { /* Edge */
  color: var(--clr-neutral-200);
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: var(--clr-neutral-200);
}

::placeholder {
  color: var(--clr-neutral-200);
}

.form-submitted-message {
  margin: 3em 0;
  text-align: center;
  font-size: 1.5rem;
  width: 490px;
}

.form-submitted-message p {
  line-height: 2rem;
}

@media (max-width: 500px) {
  .button {
    font-size: .9rem;
  }

  .form-container, .form-submitted-message {
    width: 95%;
  }
  
  label, input, .button, .form-submitted-message {
    font-size: .9rem;
  }

  .form-submitted-message p {
    line-height: 1.5rem;
  }
  
  .error {
    font-size: .7rem;
  }
}